{% extends "base.html" %}

{% block extrahead %}
<meta property="og:type" content="website">
<meta property="og:site_name" content="MultiCrafterLib">
<meta property="og:url" content="https://liplum.github.io/MultiCrafterLib/">
<meta property="og:title" content="MultiCrafter Lib | For Json and Javascript mods">
<meta property="og:description" content="A Mindustry mod library provides a multiple-recipe crafter to produce items, fluids, power or even heat for Json and JavaScript mods.">
<meta property="og:image" content="https://raw.githubusercontent.com/liplum/MultiCrafterLib/master/icon.png"/>
<meta property="og:image:alt" content="MultiCrafter Icon"/>

<meta property="twitter:title" content="MultiCrafter Lib | For Json and Javascript mods">
<meta property="twitter:description" content="A Mindustry mod library provides a multiple-recipe crafter to produce items, fluids, power or even heat for Json and JavaScript mods.">
<meta property="twitter:card" content="summary_large_image"/>
<meta property="twitter:image:src" content="https://raw.githubusercontent.com/liplum/MultiCrafterLib/master/icon.png"/>
{% endblock %}